<ion-header>

  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title> Historial </ion-title>
    <img class="logo-header" src="/assets/imgs/logo-header.png">
  </ion-navbar>

</ion-header>


<ion-content *ngIf="!loading">
  <ion-grid>
    <ion-row>

      <!-- busqueda -->
      <!-- <ion-col style="padding-top: 60px;" offset-sm-2 col-12 col-sm-8>
        <ion-list no-lines>
          <ion-item id="container-busqueda">
            <ion-input [(ngModel)]="busqueda" placeholder="Buscador de medicos visitados" type="search">
            </ion-input>
            <button (click)="buscar()" ion-button icon-only item-end>
              <ion-icon color="icons" name="search"></ion-icon>
            </button>
          </ion-item>
        </ion-list>
      </ion-col> -->

      <!-- Filtros de Búsqueda -->
      <ion-col col-12 col-sm-10 offset-sm-1>

        <ion-list no-lines class="filtros">

          <ion-grid>
            <ion-row>

              <ion-col col-12 col-sm-6 col-lg-3>
                <ion-item>
                  <ion-datetime [min]="minDate" [max]="maxDate" placeholder="Desde" displayFormat="YYYY-MM-DD"
                    [(ngModel)]="min">
                  </ion-datetime>
                </ion-item>
              </ion-col>

              <ion-col col-12 col-sm-6 col-lg-3>
                <ion-item>
                  <ion-datetime [min]="minDate" [max]="maxDate" placeholder="Hasta" displayFormat="YYYY-MM-DD" [(ngModel)]="max">
                  </ion-datetime>
                </ion-item>

              </ion-col>

              <ion-col col-12 col-sm-6 col-lg-3>
                <ion-item>
                  <ion-input [(ngModel)]="busqueda" placeholder="Buscador de medicos visitados" type="text">
                  </ion-input>
                </ion-item>
              </ion-col>

              <ion-col col-12 col-sm-6 col-lg-3>
                <ion-item class="botones-filtro">
                  <button (click)="buscar()" round ion-button> Buscar </button>
                  <button (click)="limpiarFiltro()" round ion-button> Limpiar </button>
                </ion-item>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-list>

      </ion-col>

      <!-- Información Paginación -->
      <ion-col col-12>
        <div *ngIf="historial.length > 0" class="progress">
          <div [ngStyle]="{'width': paginationProgress}"></div>
        </div>
        <p *ngIf="historial.length > 0" class="infoPaginacion"> Página {{ current_page }} De {{ last_page }} </p>
      </ion-col>

      <!-- Historial -->
      <ion-col col-12>
        <ion-list no-lines>
          <ion-item class="container-medico" *ngFor="let visita of historial" color="transparent"
            (swipe)="paginacion($event)" text-wrap>
            <div text-center>
              <ion-grid>
                <ion-row>
                  <ion-col col-12 col-sm-6>
                    <span class="info medico"> {{ visita.medico | titlecase }} </span>
                  </ion-col>
                  <ion-col col-12 col-sm-6>
                    <span class="info especialidad"> {{ visita.fecha | date:'medium' }} </span>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </div>
          </ion-item>
        </ion-list>
      </ion-col>

    </ion-row>
  </ion-grid>
</ion-content>

<ion-content *ngIf="loading">
  <ion-grid padding>
    <ion-row padding>
      <ion-col align="center">
        <ion-spinner name="crescent"></ion-spinner>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-content *ngIf="!loading && offline">
  <ion-grid style="padding-top: 50px;" padding>
    <ion-row padding>
      <ion-col align="center">
        <span class="info medico">Función disponible Online</span>

      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>